<div class="section">
    <h2>Movie Lists</h2>
    <br>
    <div class="card">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <ul>
                    <li>The Avengers </li>
                    <li>Avengers: Age of Ultron </li>
                    <li>Avengers: Infinity War </li>
                    <li>Avengers: Endgame </li>
                    <li>The Lord of the Rings: The Fellowship of the Ring</li>
                    <li>Star Wars: Episode IV - A New Hope</li>
                    <li>The Silence of the Lambs</li>
                    <li>Jurassic Park</li>
                </ul>
            </div>
        </div>
    </div>
</div>