<div class="section">
    <h2>Images</h2>
    <br>
    <div class="card">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <img src="https://tse2.mm.bing.net/th?id=OIP.1jdklJKgjAe81COtBdjG9AHaLH&pid=Api&P=0&h=180"
                    alt="Image 1">
                <img src="https://tse1.mm.bing.net/th?id=OIP.139QViJ7Qic7NEU6Jv1OGQHaKf&pid=Api&P=0&h=180"
                    alt="Image 2">
                <img src="https://tse2.mm.bing.net/th?id=OIP.dUeFVUHq0iQudVuDkXJ77QHaLH&pid=Api&P=0&h=180"
                    alt="Image 3">
            </div>
        </div>
    </div>
</div>