<div class="section">
    <h2>Chore List</h2>
    <br>
    <div class="card">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <ul>
                    <li>Wash the dishes</li>
                    <li>Sweep the floors</li>
                    <li>Mow the lawn</li>
                    <li>Take out the trash</li>
                    <li>Clean the bathroom</li>
                    <li>Do the laundry</li>
                    <li>Water the plants</li>
                    <li>Dust the furniture</li>
                </ul>
            </div>
        </div>
    </div>
</div>